body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: grid;
  /* grid-template: repeat(6, 400px) / repeat(6, 400px); */
  grid-template-columns: 400px;
  grid-template-rows: 85px 300px 200px;
  /* height: 100vh; */
  align-items: center;
  background-color: #212121;
  /* grid-auto-flow: row; */
  justify-content: center;
}
header {
  /* display: grid; */
  height: 85px;
  width: 400px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-items: start;
}
.title {
  text-align: center;
  font-size: 25px;
  color: #eeeeee;
  /* position: relative;
  bottom: 15px; */
}
.sub-title {
  /* position: relative;
  bottom: 15px; */
  font-size: 20px;
  color: #7e7474;
  text-align: center;
  align-items: start;
}
.conteinerBullet {
  display: grid;
  margin-top: 30px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: #363636;
  align-items: center;
  border-radius: 8px;
}
.bullet {
  /* margin: 0;
  position: relative;
  bottom: 75px; */
  width: 340px;
  height: 100px;
  background: rgb(0, 147, 125);
  background: linear-gradient(
    180deg,
    rgba(0, 147, 125, 1) 25%,
    rgba(134, 87, 174, 1) 75%
  );
  border-radius: 8px;
}
.credit-card {
  width: 25px;
  position: relative;
  height: 25px;
  left: 8px;
  top: 5px;
  /* color: #eeeeee; */
}
.money {
  color: #eeeeee;
  font-size: 18px;
  position: relative;
  left: 130px;
  top: 30px;
}
.conteinerForm {
  width: 340px;
  height: 170px;
  display: grid;
  align-items: center;
}
.sub-title-form {
  position: relative;
  font-size: 18px;
  color: #7e7474;
  text-align: center;
  top: 15px;
}
.formi {
  width: 340px;
  position: relative;
  bottom: 35px;
}
input {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border-style: none;
  width: 340px;
  background-color: #706868;
  height: 40px;
  font-size: 16px;
  color: #eeeeee;
  margin-top: 6px;
  /* position: relative;
  right: 80px; */
}
::placeholder {
  color: #eeeeee;
}
.conteinerHistory {
  width: 400px;
  height: 200px;
  /* display: grid; */
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  /* position: absolute; */
  /* grid-template-rows: 25%; */
}
.sub-title-history {
  font-size: 18px;
  color: #7e7474;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.historyTable {
  /* position: absolute;
  width: 100%; */
  /* height: 35px; */
  /* display: grid; */
  font-size: 16px;
  position: relative;
  bottom: 20px;
  left: 11px;
  border-radius: 8px;
  /* background-color: #363636; */
  /* bottom: 30px; */
  /* table-layout: fixed; */
  /* border-collapse: collapse; */
  border-spacing: 0 5px;
  width: 380px;
}
td {
  /* border-radius: 8px; */
  height: 40px;
  width: 380px;
}
tr {
  width: 380px;
  /* height: 25px; */
  font-size: 16px;
  border-radius: 8px;
  background-color: #15142f;
  color: #eeeeee;
  grid-auto-flow: row;
}
/* .historialConcepto {
  color: #eeeeee;
  padding-left: 5px;
} */
.historialIngreso {
  color: #00937d;
}
.historialGasto {
  color: #8657ae;
}
.deleteButton {
  font-family: "Montserrat", sans-serif;
  border-radius: 100%;
  border-style: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 10px;
  color: #eeeeee;
  background-color: #9e0000;
  padding-left: 5px;
  position: relative;
  left: 11px;
}
td:nth-child(1) {
  width: 65%;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
}

td:nth-child(2) {
  width: 29%;
  border-left: 0;
  text-align: center;
  border-spacing: 0;
}

td:nth-child(3) {
  width: 6%;
  border-radius: 0 5px 5px 0;
  text-align: center;
}
.ingreso {
  font-family: "Montserrat", sans-serif;
  background-color: #00937d;
  color: #eeeeee;
  width: 168px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-top: 6px;
}
.gasto {
  font-family: "Montserrat", sans-serif;
  background-color: #8657ae;
  color: #eeeeee;
  font-size: 16px;
  width: 167px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-top: 6px;
}
