body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: #212121;
  grid-template-rows: repeat(5, 60px);
}
.title {
  text-align: center;
  font-size: 12px;
  color: #eeeeee;
  position: relative;
  bottom: 15px;
}
.sub-title {
  position: relative;
  bottom: 15px;
  font-size: 8px;
  color: #7e7474;
  text-align: center;
  bottom: 55px;
}
.bullet {
  margin: 0;
  position: relative;
  bottom: 75px;
  width: 225px;
  height: 55px;
  background: rgb(234, 46, 163);
  background: linear-gradient(
    180deg,
    rgba(234, 46, 163, 1) 25%,
    rgba(161, 85, 204, 1) 75%
  );
  border-radius: 8px;
}
.credit-card {
  width: 15px;
  position: relative;
  height: 15px;
  left: 8px;
  top: 5px;
  color: #eeeeee;
}
.money {
  color: #eeeeee;
  font-size: 10px;
  position: relative;
  left: 90px;
  top: 17px;
}
.conteinerHistory {
  width: 225px;
  display: block;
  position: relative;
  bottom: 70px;
  margin: 0;
}
.sub-title-history {
  position: relative;
  bottom: 20px;
  font-size: 8px;
  color: #7e7474;
  text-align: center;
}
.historyTable {
  position: relative;
  width: 100%;
  /* height: 35px; */
  font-size: 8px;
  border-radius: 8px;
  /* background-color: #363636; */
  bottom: 30px;
  /* table-layout: fixed; */
  /* border-collapse: collapse; */
  border-spacing: 0 5px;
}
td {
  /* border-radius: 8px; */
  height: 25px;
}
tr {
  width: 225px;
  /* height: 25px; */
  font-size: 8px;
  border-radius: 8px;
  background-color: #363636;
  color: #eeeeee;
}
.historialConcepto {
  color: #eeeeee;
  padding-left: 5px;
}
.historialCantidad {
  color: #ea2ea3;
}
.conteinerForm {
  width: 225px;
  position: relative;
  bottom: 90px;
}
.sub-title-form {
  position: relative;
  font-size: 8px;
  color: #7e7474;
  text-align: center;
}
.formi {
  width: 225px;
  position: relative;
}
input {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border-style: none;
  width: 218px;
  background-color: #706868;
  height: 20px;
  font-size: 8px;
  color: #eeeeee;
  padding-left: 5px;
}
::placeholder {
  color: #eeeeee;
}
.deleteButton {
  font-family: "Montserrat", sans-serif;
  border-radius: 100%;
  border-style: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  font-size: 6px;
  color: #eeeeee;
  background-color: #ce1212;
  padding-left: 3px;
  position: relative;
  left: 5px;
}
td:nth-child(1) {
  width: 65%;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
}

td:nth-child(2) {
  width: 29%;
  border-left: 0;
  text-align: center;
  border-spacing: 0;
}

td:nth-child(3) {
  width: 6%;
  border-radius: 0 5px 5px 0;
  text-align: center;
}
.ingreso {
  font-family: "Montserrat", sans-serif;
  background-color: #a155cc;
  color: #eeeeee;
  width: 110px;
  height: 18px;
  font-size: 8px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.gasto {
  font-family: "Montserrat", sans-serif;
  background-color: #ea2ea3;
  color: #eeeeee;
  font-size: 8px;
  width: 110px;
  height: 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
